<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>BoatCare nutzt deinen Standort, um Service-Anbieter in deiner Naehe anzuzeigen und Entfernungen zu berechnen.</string>
	<key>NSCameraUsageDescription</key>
	<string>BoatCare nutzt die Kamera, um Fotos deines Bootes aufzunehmen.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>BoatCare nutzt deine Fotomediathek, um Fotos deines Bootes hochzuladen.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
